body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

header h1 {
  padding-top: 1rem;
}

h1 {
  color: white;
  /* text-align: center; */
}

hr {
  border-color: #FF4D19;
  border-width: 3px;
  width: 65px;
}

.btn-xl {
  padding: 1rem 2rem;
  font-weight: bold;
}

.btn-secondary {
  background-color: #FF4D19;
  border-radius: 50px;
  border-color: #FF4D19;
  transition: all 0.5s;
}

.btn-secondary:hover {
  background-color: #3a4;
  border-color: #3a4;
  transform: scale(1.1)
}

.space-top {
  margin-top: 8rem;
}

button a {
  text-decoration: none;
}